@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inconsolata&display=swap');

:root,
:root[data-theme='light'],
:root[data-theme='dark'] {
  --font-sans: 'Space Grotesk', sans-serif;
  --font-mono: 'Inconsolata', monospace;
}

button {
  padding: 5px 10px;
  background: var(--md-sys-color-secondary-container);
  border: none;
  border-radius: 20px;
}

select {
  padding: 5px 10px;
  background: var(--md-sys-color-secondary-container);
  border: none;
  border-radius: 20px;
}

option {
  background-color: var(--md-sys-color-surface);
}
